.nav-right {
  li {
    &.welcome-email, &.share-video-btn {
      padding-left: 1.5rem;
    }

    padding-left: 1rem;
  }
}

.nav-border-bottom {
  border-bottom: 1px solid;
}

.authenticate-fail {
  border: 1px solid red;
}