.nav-right {
  li {
    &.welcome, &.share-video-btn {
      padding-left: 1.5rem;
    }

    padding-left: 1rem;
  }
}

.nav-border-bottom {
  border-bottom: 1px solid;
}

.error {
  border: 1px solid red;
}

.share-form
{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.share-btn
{
  padding-right: 0px;
  padding-left: 6px;
}